.moni-collapse {
  --moni-collapse-border-color: var(--moni-border-color-light);
  --moni-collapse-header-height: 48px;
  --moni-collapse-header-bg-color: var(--moni-fill-color-blank);
  --moni-collapse-header-text-color: var(--moni-text-color-primary);
  --moni-collapse-header-font-size: 13px;
  --moni-collapse-content-bg-color: var(--moni-fill-color-blank);
  --moni-collapse-content-text-color: var(--moni-text-color-primary);
  --moni-collapse-content-font-size: 13px;

  border-top: 1px solid var(--moni-collapse-border-color);
  border-bottom: 1px solid var(--moni-collapse-border-color);
}

.moni-collapse-item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--moni-collapse-header-height);
  line-height: var(--moni-collapse-header-height);
  background-color: var(--moni-collapse-header-bg-color);
  color: var(--moni-collapse-header-text-color);
  cursor: pointer;
  font-size: var(--moni-collapse-header-font-size);
  font-weight: 500;
  transition: border-bottom-color var(--moni-transition-duration);
  outline: none;
  border-bottom: 1px solid var(--moni-collapse-border-color);

  .moni-collapse-header__arrow {
    transform-origin: center;
    transition: transform var(--moni-transition-duration) ease-in-out;
  }

  &.disabled {
    color: var(--moni-disabled-text-color);
    cursor: not-allowed;
    background-image: none;
  }
  &.active {
    border-bottom-color: transparent;

    .moni-collapse-header__arrow {
      transform: rotateZ(45deg);
    }
  }
}

.moni-collapse__wrapper {
  overflow: hidden;
}

.moni-collapse-item__content {
  will-change: height;
  background-color: var(--moni-collapse-content-bg-color);
  overflow: hidden;
  box-sizing: border-box;
  font-size: var(--moni-collapse-content-font-size);
  color: var(--moni-collapse-content-text-color);
  border-bottom: 1px solid var(--moni-collapse-border-color);
  padding-bottom: 25px;
}
