.moni-tooltip {
  --moni-tooltip-bg-color: var(--moni-bg-color-overlay);
  --moni-tooltip-font-size: var(--moni-font-size-base);
  --moni-tooltip-border-color: var(--moni-border-color);
  --moni-tooltip-border-radius: var(--moni-border-radius-base);
  --moni-tooltip-z-index: 1000;

  position: relative;
  display: inline-block;

  .moni-tooltip__popper__wrapper {
    position: relative;
  }

  .moni-tooltip__popper {
    position: relative;
    padding: var(--moni-tooltip-popper-padding);
    box-sizing: border-box;
    display: inline-block;
    width: max-content;
    color: var(--moni-text-color-primary);
    font-size: var(--moni-tooltip-font-size);
    line-height: 1.4;
    text-align: justify;
    border: 1px solid var(--moni-tooltip-border-color);
    border-radius: var(--moni-tooltip-border-radius);
    background-color: var(--moni-tooltip-bg-color);
    z-index: var(--moni-tooltip-z-index);
  }
  .moni-tooltip__popper-arrow {
    position: absolute;
    visibility: hidden;

    &::before {
      position: absolute;
      visibility: visible;
      content: '';
      display: inline-block;
      width: var(--moni-tooltip-arrow-width);
      height: var(--moni-tooltip-arrow-width);
      box-sizing: border-box;
      background-color: var(--moni-tooltip-bg-color);
    }
    /* positions */
    &[data-popper-placement^='top'] {
      bottom: var(--moni-tooltip-arrow-position-y);
      left: var(--moni-tooltip-arrow-position-x);

      &::before {
        border-bottom: 1px solid var(--moni-tooltip-border-color);
        border-right: 1px solid var(--moni-tooltip-border-color);
        bottom: calc(-1 * var(--moni-tooltip-arrow-width) / 2);
        transform: rotateZ(45deg) translateY(1px);
      }
    }

    &[data-popper-placement^='bottom'] {
      top: var(--moni-tooltip-arrow-position-y);
      left: var(--moni-tooltip-arrow-position-x);

      &::before {
        border-top: 1px solid var(--moni-tooltip-border-color);
        border-left: 1px solid var(--moni-tooltip-border-color);
        top: calc(-1 * var(--moni-tooltip-arrow-width) / 2);
        transform: rotateZ(45deg) translateY(-1px);
      }
    }

    &[data-popper-placement^='left'] {
      top: var(--moni-tooltip-arrow-position-y);
      right: var(--moni-tooltip-arrow-position-x);

      &::before {
        border-top: 1px solid var(--moni-tooltip-border-color);
        border-right: 1px solid var(--moni-tooltip-border-color);
        left: calc(-1 * var(--moni-tooltip-arrow-width) / 2);
        transform: rotateZ(45deg) translateX(1px);
      }
    }

    &[data-popper-placement^='right'] {
      top: var(--moni-tooltip-arrow-position-y);
      left: var(--moni-tooltip-arrow-position-x);

      &::before {
        border-bottom: 1px solid var(--moni-tooltip-border-color);
        border-left: 1px solid var(--moni-tooltip-border-color);
        left: calc(-1 * var(--moni-tooltip-arrow-width) / 2);
        transform: rotateZ(45deg) translateX(-1px);
      }
    }
  }
}

.moni-tooltip--transition-enter-from, .moni-tooltip--transition-leave-to {
  opacity: 0;
}
.moni-tooltip--transition-enter-active, .moni-tooltip--transition-leave-active {
  transition: opacity var(--moni-transition-duration) ease-in-out;
}
.moni-tooltip--transition-enter-to {
  opacity: 1;
}
